@import "../../scss/base/base.scss";

.navbar-wrapper {
  background: linear-gradient(180deg, #0e0e0e 0%, rgba(11, 11, 11, 0) 100%);
  color: var(--white-color);
  position: relative;

  .navbar {
    font-family: var(--roboto-font);
    padding: 53px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo-menu {
      width: 40%;
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 1024px) {
        width: fit-content;
      }

      .menu-icon {
        cursor: pointer;
      }

      .brand-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }

    .logo {
      max-width: 70px;
      width: 20%;
    }

    .toogle-container {
      display: none;

      @media (max-width: 1024px) {
        display: block;
        background-color: rgba(255, 165, 79, 1);
        z-index: 400;
        padding: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        .toogle {
          font-size: 20px;
          font-weight: 600;
          color: var(--black-color);
        }
      }
    }

    .links-container {
      width: 40%;
      @media (max-width: 1024px) {
        z-index: 300;
        background-color: #0e0e0e;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        width: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
      }

      .nav-menus {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 26px;

        @media (max-width: 1024px) {
          flex-direction: column;
        }

        .nav-link {
          font-weight: 700;
          font-size: 14px;
          line-height: 27px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: var(--roboto-font);
          text-decoration: none;
          a {
            text-decoration: none;
            color: var(--white-color);
          }

          &:last-child {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 2px solid var(--white-color);
            padding: 5px 10px;
          }
        }
      }
    }

    .nav-visible {
      @media (max-width: 1024px) {
        width: 300px;
        visibility: visible;
        opacity: 1;
      }
      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }
}
