@import "../../scss/base/base.scss";

.navbar-wrapper {
  background: linear-gradient(180deg, #0e0e0e 0%, rgba(11, 11, 11, 0) 100%);
  color: var(--white-color);

  .navbar {
    font-family: var(--roboto-font);
    padding: 53px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo-menu {
      width: 40%;
      display: flex;
      align-items: center;
      gap: 10px;

      .menu-icon {
        cursor: pointer;
      }
      .brand-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }

    .logo {
      max-width: 70px;
      width: 20%;
    }

    .nav-menus {
      width: 40%;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 26px;

      .nav-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        color: var(--white-color);
        cursor: pointer;
        font-family: var(--roboto-font);

        &:last-child {
          display: flex;
          align-items: center;
          gap: 5px;
          border: 2px solid var(--white-color);
          padding: 5px 10px;
        }
      }
    }
  }
}
