@import "../../scss/base/base.scss";

.hero-section-wrapper {
  width: 100vw;
  background: url("../../assets/hero-section.png") no-repeat center center;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, cover;
  padding-bottom: 73px;

  @media (max-width: 768px) {
    height: 100vh;
    padding-bottom: 0;
  }

  .hero-content {
    display: grid;
    place-items: center;
    margin-top: -100px;
    margin-top: 80px;

    @media (max-width: 768px) {
      height: 100%;
    }

    .title {
      display: grid;
      place-items: center;
      margin-bottom: 23px;

      .toit {
        font-family: var(--font-oswald);
        font-weight: 900;
        font-size: 200px;
        line-height: 73.69%;
        text-transform: uppercase;
        color: var(--primary);
        padding-bottom: 50px;

        @media (max-width: 768px) {
          font-size: 150px;
          padding-bottom: 30px;
        }

        @media (max-width: 425px) {
          font-size: 100px;
          padding-bottom: 20px;
        }
      }

      .beer {
        max-width: 450px;

        @media (max-width: 768px) {
          max-width: 350px;
        }

        @media (max-width: 425px) {
          max-width: 250px;
        }
      }
    }

    .scroll-down {
      display: grid;
      place-items: center;
      cursor: pointer;

      @media (max-width: 768px) {
        position: absolute;
        bottom: 20px;
      }

      .scroll-arrow {
        margin-bottom: 20px;
      }

      .scroll-down-text {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }
  }
}
