@import "../../scss/base/base.scss";

.hero-section-wrapper {
  width: 100vw;
  background: url("../../assets/hero-section.png") no-repeat center center;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, cover;
  padding-bottom: 73px;
}

.hero-content {
  display: grid;
  place-items: center;
  margin-top: -100px;
  margin-top: 80px;

  .title {
    display: grid;
    place-items: center;
    margin-bottom: 23px;

    .toit {
      font-family: var(--font-oswald);
      font-weight: 900;
      font-size: 200px;
      line-height: 73.69%;
      text-transform: uppercase;
      color: var(--primary);
    }

    .toit {
      padding-bottom: 50px;
    }

    .beer {
      max-width: 450px;
    }
  }

  .scroll-down {
    display: grid;
    place-items: center;
    cursor: pointer;

    .scroll-arrow {
      margin-bottom: 20px;
    }

    .scroll-down-text {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }
}
